<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->

<link rel="shortcut icon" href="/resources/images/logo.jpg" >

<link rel="stylesheet" href="/css/animaciones.css">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${libro}"></title>
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top" style="border: 5px silver outset; border-radius: 100px; margin-left: 5px; margin-right: 2.5px; margin-top: 5px; background-color: #042f66;">
		<a id="navButton" class="navbar-brand" th:href="@{/index}" style="font-size: 20px; font-family: blader3D; border: 5px outset silver; border-radius: 100px; background-color: transparent; text-decoration: none; color: white;">
		 <span><i><b> K'5 </b></i></span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" id="navButton" style="color: white;"><span> . . . </span></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarNav">			
			<ul class="navbar-nav">
				<li class="nav-item active" style= "background-color: transparent; border: 5px outset silver; border-radius: 100px;">
				<a id= "navButton" class="nav-link"
					th:href="@{/game/games}" 
						style="text-decoration: none; font-size: 15px; 
							font-family: pixel; color: white;"> 
							<span ><i><b>GAMES</b></i> 🎮</span>
				</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index}"></a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active" style= "background-color: transparent; border: 5px inset silver; border-radius: 100px;">
					<a id="navButton" class="nav-link"	th:href="@{/book/books}" 
						style="text-decoration: underline; font-size: 15px; 
							font-family: cursiva2; color: white; padding-top: 20%;">
							<span><i><b>BOOKS</b></i> 📘 </span></a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index}"></a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active" style= "background-color: transparent; border: 5px outset silver; border-radius: 100px;">
					<a id="navButton" class="nav-link"	th:href="@{/song/music}" style="text-decoration: none; 
					font-size: 15px; font-family: blader3D; color: white;">
					<span><i><b>MUSIC</b></i>  🎹 </span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index}"></a>
				</li>
			</ul>
		</div>
		<img th:if="${caratula}" th:src="@{'/book/uploads/' + ${caratula}}" alt="Card image cap" style="max-height: 70px; width: 66px;" th:text="${libro}">
	</nav>


<!-- Card... poner imagen... -->
	<div id="container" class="container d-flex justify-content-center" style="width: 720px; height: 666px; border-radius: 20px; border: 25px outset purple; background-color: rebeccapurple;">
	<div class="card-group justify-content-center" style="text-align: center;">
		<div class="card d-flex align-items-center">
		<img class="card-img-top " th:if="${caratula}" th:src="@{'/book/uploads/' + ${caratula}}" alt="Card image cap" style="max-height: 370px; width: 666px;"> <!-- agregar imágenes como atributo del producto/juego -->
		<div class="card-body align-items-center">
			<h5 class="card-title" th:text="${libro}"></h5>
			<h6 style="color: blue;" class="card-title" th:text="${descripcion}"></h6>
			<p style="color: green;" class="card-text" th:text="'$' + ${precio}"></p>
		</div>
		<div class="card-footer">
			<small class="text-muted" th:text="${libro}"></small>
		</div>
		<a type="button" class="btn btn-warning btn-sm"
			th:href="@{/book/editarBook/} + ${ID}" th:text="Editar">
		</a> 
		<a type="button" class="btn btn-danger btn-sm" th:href="@{/book/eliminarBook/} + ${ID}"
			th:text="Eliminar" onclick="return confirm('Estas seguro que deseas eliminar el producto?');">
		</a>
		</div>
	</div>
	</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>